@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/opensans-bold.eot');
  src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightRegular';
  src: url('../fonts/opensans-light.eot');
  src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light.woff') format('woff'), url('../fonts/opensans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans-italic.eot');
  src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic.woff') format('woff'), url('../fonts/opensans-italic.ttf') format('truetype');
  font-weight: normal;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body {
  font-size: 14pt;
  font-family: 'OpenSansRegular';
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  color: #231f20;
}

a:active,
a:focus,
button:active,
button:focus {
  outline: 0;
}

h1 {
  font-size: 33pt;
  font-family: 'OpenSansLightRegular';
}

p {
  font-size: 11pt;
  line-height: 16pt;
}

b {
  font-family: 'OpenSansBold';
}

.italic-text-s {
  font-family: 'OpenSansItalic';
  font-size: 9pt;
}

.italic-text-m {
  font-family: 'OpenSansItalic';
  font-size: 10pt;
}

.italic-text-m2 {
  font-family: 'OpenSansItalic';
  font-size: 12pt;
  line-height: 20pt;
}

.italic-text-l {
  font-family: 'OpenSansItalic';
  font-size: 14pt;
  line-height: 20pt;
}

.normal-text {
  font-style: normal;
  font-family: 'OpenSansRegular';
  font-weight: normal;
}

.wrap {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-right: auto;
  display: block;
  margin-left: auto;
}

.wrap:before,
.wrap:after {
  content: " ";
  display: table;
}

.wrap:after {
  clear: both;
}

.wrap-normal {
  width: 782px;
  display: table !important;
  margin-right: auto;
  display: block;
  margin-left: auto;
}

.wrap-normal:before,
.wrap-normal:after {
  content: " ";
  display: table;
}

.wrap-normal:after {
  clear: both;
}

.yellow-wrap {
  margin: 50px 64px 0 64px;
  padding: 42px 46px 80px 57px;
  width: 782px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: #ffdd00;
  margin-right: auto;
  display: block;
  margin-left: auto;
}

.yellow-wrap:before,
.yellow-wrap:after {
  content: " ";
  display: table;
}

.yellow-wrap:after {
  clear: both;
}

.content {
  padding: 75px 0 152px 0;
}

.left-border {
  width: 1px;
  left: 0;
  position: absolute;
}

.pull-right {
  float: right;
}

.row {
  width: 100%;
  position: relative;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.span12 {
  width: 100%;
  position: relative;
}

.span6 {
  width: 380px;
  float: left;
  position: relative;
}

.span4 {
  width: 244px;
  float: left;
  position: relative;
}

.span6-f {
  width: 50%;
  float: left;
  position: relative;
}

.span4-f {
  width: 33.3%;
  float: left;
  position: relative;
}

.m-24-l {
  margin-left: 24px;
}

.m-24-r {
  right: 24px;
}

.m-14-l {
  margin-left: 14px;
}

.m-14-r {
  margin-right: 14px;
}

.m-13-l {
  margin-left: 13px;
}

.m-13-r {
  margin-right: 13px;
}

.m-12-l {
  margin-left: 12px;
}

.m-12-r {
  margin-right: 12px;
}

.m-11-l {
  margin-left: 11px;
}

.m-11-r {
  margin-right: 11px;
}

article {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  font-size: 10pt;
  line-height: 15pt;
  margin-top: 50px;
}

blockquote {
  font-size: 11pt;
  margin-top: 67px;
  line-height: 18pt;
}

blockquote:before {
  content: url("../img/bq.png");
  width: 40px;
  height: 37;
  float: left;
  margin-right: 18px;
  margin-bottom: 10px;
}

.header {
  height: 169px;
  padding: 52px 0 0 0;
}

.header a {
  color: #231f20;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.head-container {
  padding: 24px 46px 18px 57px;
  background: #f3f3f4;
  width: 100%;
  display: table;
}

.head-container:before,
.head-container:after {
  content: " ";
  display: table;
}

.head-container:after {
  clear: both;
}

.head-container img {
  float: left;
  display: block;
}

.head-container p {
  text-align: right;
  font-size: 8pt;
  display: table-cell;
  vertical-align: bottom;
}

.head-second-container {
  padding: 24px 46px 18px 57px;
  background: #f3f3f4;
  width: 100%;
  display: table;
}

.head-second-container:before,
.head-second-container:after {
  content: " ";
  display: table;
}

.head-second-container:after {
  clear: both;
}

.head-second-container img {
  float: right;
  display: block;
}

.head-second-container p {
  text-align: left;
  font-size: 8pt;
  display: table-cell;
  vertical-align: bottom;
}

.footer {
  width: 100%;
  margin: -89px auto 0;
  height: 89px;
  position: relative;
  background: #ffffff;
}

.footer-content {
  background: #f3f3f4;
  height: 37px;
  margin-right: auto;
  display: block;
  margin-left: auto;
}

.footer-content:before,
.footer-content:after {
  content: " ";
  display: table;
}

.footer-content:after {
  clear: both;
}

.footer-content i {
  float: left;
  margin-top: 12px;
  font-size: 8pt;
  font-style: normal;
  font-family: 'OpenSansBold';
}

.footer-content p {
  float: right;
  margin-top: 7px;
  font-size: 8pt;
}

.footer-second-content {
  background: #f3f3f4;
  height: 37px;
  margin-right: auto;
  display: block;
  margin-left: auto;
}

.footer-second-content:before,
.footer-second-content:after {
  content: " ";
  display: table;
}

.footer-second-content:after {
  clear: both;
}

.footer-second-content i {
  float: right;
  margin-top: 12px;
  font-size: 8pt;
  font-style: normal;
  font-family: 'OpenSansBold';
}

.footer-second-content p {
  float: left;
  margin-top: 7px;
  font-size: 8pt;
}

.pages-wrap {
  position: absolute;
  padding: 44px;
  border: 1px #231f20 solid;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 180px;
  margin-top: -90px;
  margin-left: -250px;
}

.pages-wrap h1 {
  text-align: center;
  margin-bottom: 20px;
}

.pages-wrap ul {
  margin: 0 auto;
  display: table;
}

.pages-wrap li {
  display: inline-block;
}

.pages-wrap a {
  color: #231f20;
  text-decoration: none;
  display: block;
  padding: 5px 5px;
  text-align: center;
  font-size: 11pt;
  border-bottom: 2px transparent solid;
}

.pages-wrap a:hover {
  border-bottom: 2px #ffdd00 solid;
}

.main-top:before,
.main-top:after {
  content: " ";
  display: table;
}

.main-top:after {
  clear: both;
}

.main-top .adress {
  float: left;
  width: 200px;
  position: relative;
  padding-left: 21px;
  font-size: 8pt;
  color: #231f20;
}

.main-top .left-border {
  top: 0;
  height: 83px;
  background: #231f20;
}

.main-top img {
  float: right;
  display: block;
}

.main-top p,
.main-top b,
.main-top i,
.main-top a,
.main-top em {
  display: block;
  color: inherit;
}

.main-top p {
  line-height: 12pt;
  margin-bottom: 23px;
}

.main-top b {
  font-family: 'OpenSansBold';
  margin-bottom: 5px;
}

.main-top i {
  font-style: normal;
  font-size: 9pt;
}

.main-top a {
  text-decoration: none;
  margin-bottom: 7px;
}

.main-top em {
  font-style: normal;
  font-family: 'OpenSansBold';
  margin-bottom: 7px;
  margin-top: 15px;
}

.main-center {
  margin-top: 377px;
}

.main-center h1 {
  display: block;
  margin-bottom: 52px;
  font-size: 40pt;
}

.main-center b {
  display: block;
  margin-bottom: 4px;
  font-size: 16pt;
}

.main-center p {
  font-size: 16pt;
}

.main-bot {
  margin-top: 104px;
}

.main-bot:before,
.main-bot:after {
  content: " ";
  display: table;
}

.main-bot:after {
  clear: both;
}

.main-bot h3 {
  font-size: 12pt;
  margin-bottom: 29px;
}

.main-bot b {
  font-size: 9pt;
}

.left-side {
  width: 347px;
  float: left;
}

.left-side em {
  font-size: 22pt;
  font-family: 'OpenSansLightRegular';
  display: block;
  font-style: normal;
  margin-bottom: 25px;
}

.left-side a {
  text-decoration: none;
  font-size: 9pt;
  color: inherit;
}

.left-side a b {
  margin-right: 5px;
}

.left-side i {
  font-size: 9pt;
  font-style: normal;
}

.left-side i b {
  margin-right: 5px;
}

.left-side p {
  font-size: 9pt;
  margin-top: 9px;
  margin-bottom: 3px;
}

.right-side {
  padding-left: 34px;
  position: relative;
  margin-top: 6px;
  float: left;
}

.right-side .left-border {
  height: 100%;
  background: #231f20;
}

.right-side .date-bot {
  margin-top: 41px;
}

.right-side p {
  font-size: 9pt;
  margin-bottom: 8px;
}

.right-side b {
  font-size: 9pt;
}

.main-text {
  padding-top: 54px;
  padding-bottom: 85px;
}

.main-text b {
  font-size: 10pt;
}

.main-text p {
  font-size: 8pt;
  margin-top: 21px;
  line-height: 13pt;
}

.content h1 {
  margin-bottom: 35px;
}

.style-block {
  margin-top: 48px;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;
  background-color: #f3f3f4;
  position: relative;
  padding: 8px 0 0 43px;
}

.style-block b {
  font-size: 12pt;
}

.yellow-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #ffdd00;
}

.styled-ul {
  margin-top: 23px;
  font-size: 9pt;
  line-height: 14pt;
}

.styled-ul li {
  display: block;
  padding: 7px 0 8px 15px;
  border-bottom: 1px #f3f3f4 solid;
  position: relative;
}

.styled-ul li:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 11px;
  left: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #ffdd00;
  border-bottom: 5px solid transparent;
}

.styled-ul li:last-child {
  border-bottom: 0;
}

.our-team img {
  margin-bottom: 45px;
}

.our-team h1 {
  margin-bottom: 40px;
}

.our-team blockquote {
  font-size: 11pt;
  line-height: 15pt;
  font-family: 'OpenSansItalic';
  margin-top: 0;
}

.our-team blockquote:before {
  content: url("../img/bq-small.png");
  width: 24px;
  height: 22px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.our-team .left-border {
  height: 102px;
  background: #bdbec1;
  top: 0;
  position: static;
  float: left;
}

.image-header {
  padding: 7px 19px;
  background: #ffdd00;
}

.image-header p {
  font-size: 12pt;
  font-family: 'OpenSansBold';
}

.about-person {
  margin-bottom: 36px;
}

.about-person b {
  margin-right: 7px;
}

.about-bq {
  margin-top: 67px;
}

.case-study h1 {
  margin-bottom: 0;
}

.case-study img {
  float: right;
  margin-bottom: 20px;
}

.case-study .image-header {
  margin-bottom: 39px;
}

.case-study .italic-text-m2 {
  margin-bottom: 34px;
}

.construct .style-block {
  margin-bottom: 18px;
}

.construct li {
  border-bottom: 1px #bdbec1 solid;
  display: block;
  padding: 0 0 0 15px;
  position: relative;
}

.construct li:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 11px;
  left: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #ffdd00;
  border-bottom: 5px solid transparent;
}

.construct li:last-child {
  border-bottom: 0;
}

.left-con {
  float: left;
  width: 587px;
  border-right: 1px #bdbec1 solid;
}

.left-con p {
  font-size: 8pt;
  padding: 6px 2px 6px 2px;
}

.right-con {
  display: table;
  width: 180px;
  float: right;
  text-align: right;
}

.right-con b {
  padding: 10px 0 10px 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 10pt;
}

.description .style-block {
  margin-bottom: 30px !important;
}

.description .italic-text-m2 {
  margin-top: 34px;
  margin-bottom: 44px;
}

.description-block {
  position: absolute;
  top: 0;
  left: 30px;
}

.description-block p {
  font-size: 20pt;
  text-align: right;
  font-family: 'OpenSansLightRegular';
  margin-bottom: 20px;
}

.description-block ul:before,
.description-block ul:after {
  content: " ";
  display: table;
}

.description-block ul:after {
  clear: both;
}

.description-block li {
  float: left;
  width: 14px;
  height: 14px;
  background: #bdbec1;
  margin-right: 8px;
}

.description-block li:last-child {
  margin-right: 0;
}

.description-block .active {
  background: #ffdd00;
}

.description-content {
  margin-left: 135px;
  margin-bottom: 30px;
}

.description-content b {
  font-size: 10pt;
  display: block;
  margin-bottom: 21px;
}

.description-content p {
  font-size: 11pt;
  line-height: 15pt;
}

.offer .text-block b {
  font-size: 10pt;
  line-height: 14pt;
  margin-bottom: 26px;
  display: block;
}

.offer .text-block p {
  font-size: 10pt;
  line-height: 14pt;
}

.prise-block {
  background: #ffdd00;
  height: 270px;
  position: relative;
  margin-bottom: 45px;
}

.prise-block b {
  position: absolute;
  top: 20px;
  left: 21px;
  font-size: 13pt;
}

.prise-block p {
  text-align: center;
  line-height: 260px;
  font-size: 46pt;
}

.prise-block i {
  position: absolute;
  bottom: 20px;
  left: 21px;
  font-style: normal;
  font-family: 'OpenSansLightRegular';
  font-size: 20pt;
}

.prise-block i:before {
  content: url("../img/clock.png");
  width: 28px;
  height: 27px;
  margin-right: 20px;
}

.quoted {
  margin-top: 56px;
  padding-top: 22px;
  border-top: 1px #f3f3f4 solid;
}

.quoted p {
  display: block;
  font-size: 8pt;
  line-height: 14pt;
}

.quoted p:before {
  content: url("../img/star.png");
  float: left;
  margin-right: 24px;
  margin-top: -2px;
}

.timeline .style-block {
  margin-bottom: 51px !important;
}

.main-table {
  width: 100%;
  background: #f3f3f4;
}

.main-table tr,
.main-table td {
  border: 1px #ffffff solid;
}

.title {
  font-size: 9pt;
  font-family: 'OpenSansBold';
}

.normal-tr {
  font-size: 12pt;
}

.color-td {
  background: #ffdd00;
}

.title-td {
  width: 136px;
  padding: 9px 0 7px 11px;
}

.title-td-second {
  padding: 9px 0 12px 11px;
}

.centered-text {
  text-align: center;
  width: 108px;
}

.timeline-block {
  margin-top: 28px;
}

.timeline-block p {
  font-size: 11pt;
  line-height: 16pt;
}

.timeline-block b {
  font-size: 10pt;
  line-height: 14pt;
  display: block;
  margin-bottom: 22px;
}

.acceptance h1 {
  margin-bottom: 40px;
}

.acceptance .image-header p {
  font-size: 14pt;
  margin-top: 5px;
}

.acceptance .image-header .normal-text {
  font-size: 14pt;
}

.contact-block {
  background: #f3f3f4;
}

.contact-block .left-border {
  background: #bdbec1;
  height: 60px;
  float: right;
  position: static;
}

.contact-block .main-contact {
  padding-left: 45px;
  padding-top: 40px;
}

.contact-block a {
  color: inherit;
  text-decoration: none;
}

.contact-block a:hover {
  text-decoration: underline;
}

.contact-block i {
  font-style: normal;
}

.contact-block .construct {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 53px;
}

.contact-block .construct .left-con {
  width: 532px;
}

.contact-block .construct .left-con p {
  padding-top: 8px;
  padding-bottom: 8px;
}

.contact-block .construct .right-con {
  width: 145px;
}

.contact-block .construct .right-con b {
  padding-top: 8px;
  padding-bottom: 8px;
}

.contact-block .construct li:last-child {
  padding-left: 0;
}

.contact-block .construct li:last-child .left-con {
  width: 547px;
}

.contact-block .construct li:last-child p {
  font-size: 11pt;
  padding-top: 5px;
}

.contact-block .construct li:last-child:before {
  display: none;
}

.details-left b,
.details-center b,
.details-right b {
  font-size: 11pt;
  line-height: 14pt;
}

.details-left p,
.details-center p,
.details-right p {
  font-size: 11pt;
  margin-top: 4px;
  line-height: 14pt;
}

.details-left i,
.details-center i,
.details-right i {
  display: block;
  margin-top: 2px;
  font-size: 11pt;
}

.details-left {
  float: left;
  width: 332px;
  margin-bottom: 47px;
}

.details-center {
  float: left;
  width: 215px;
  margin-bottom: 47px;
  padding-left: 25px;
}

.details-right {
  float: left;
  margin-bottom: 47px;
  padding-left: 20px;
  padding-right: 40px;
}

.sight-here {
  margin-top: 63px;
  margin-bottom: 18px;
}

.sight-here li {
  border-top: 1px #bdbec1 solid;
  padding-top: 9px;
  padding-bottom: 39px;
}

.sight-here li:before,
.sight-here li:after {
  content: " ";
  display: table;
}

.sight-here li:after {
  clear: both;
}

.sight-here li:last-child {
  padding-bottom: 0;
}

.sight-here b {
  font-size: 11pt;
}

.tick {
  border-top: 1px #bdbec1 solid;
  margin-top: 20px;
}

.tick:before {
  content: "○";
  float: left;
  font-size: 19pt;
  display: inline-block;
  margin-top: 4px;
  margin-right: 10px;
}

.tick p {
  display: inline-block;
}

.contact-bottom-left b {
  display: block;
  margin-top: -8px;
  font-size: 9pt;
}

.contact-bottom-left p {
  margin-top: 9px;
  font-size: 9pt;
}

.contact-bottom-right p {
  font-size: 9pt;
  line-height: 14pt;
}

.last-page {
  width: 157px;
  height: 194px;
  margin: 483px auto 404px;
}

.last-page-footer a {
  color: #231f20;
  text-decoration: none;
}

.last-page-footer a:hover {
  text-decoration: underline;
}