//------------------------------------------------------------------
// подключаем шрифты
//------------------------------------------------------------------

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular.woff') format('woff'),
  url('../fonts/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/opensans-bold.eot');
  src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-bold.woff') format('woff'),
  url('../fonts/opensans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightRegular';
  src: url('../fonts/opensans-light.eot');
  src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light.woff') format('woff'),
  url('../fonts/opensans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans-italic.eot');
  src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-italic.woff') format('woff'),
  url('../fonts/opensans-italic.ttf') format('truetype');
  font-weight: normal;
}

//------------------------------------------------------------------
// таблица сброса от Eric Meyer's
//------------------------------------------------------------------

table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//------------------------------------------------------------------
// базовый стиль
//------------------------------------------------------------------

*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font-size: 14pt;
  font-family: @regular;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  color: @col-text;
  // background: #EEE;
}

//------------------------------------------------------------------
// стили ссылок
//------------------------------------------------------------------

//убираем линии с сылок
a:active, a:focus, button:active, button:focus{
  outline: 0;
}

//------------------------------------------------------------------
// стили текста
//------------------------------------------------------------------

//заголовки
h1{
  font-size: 33pt;
  font-family: @light;
}

//текст

p{
  font-size: 11pt;
  line-height: 16pt;
}

b{
  font-family: @bold;
}

//------------------------------------------------------------------
// заготовки текста
//------------------------------------------------------------------

.italic-text-s{
  font-family: @italic;
  font-size: 9pt;
}

.italic-text-m{
  font-family: @italic;
  font-size: 10pt;
}

.italic-text-m2{
  font-family: @italic;
  font-size: 12pt;
  line-height: 20pt;
}

.italic-text-l{
  font-family: @italic;
  font-size: 14pt;
  line-height: 20pt;
}

.normal-text{
  font-style: normal;
  font-family: @regular;
  font-weight: normal;
}


//------------------------------------------------------------------
// стиль блоков
//------------------------------------------------------------------

.wrap {
  // width: 782px;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  .center();
  .clearfix();
}

.wrap-normal{
  // outline: 1px red solid;
  width: 782px;
  display: table !important;
  .center();
  .clearfix();
}

.yellow-wrap {
  margin: 50px 64px 0 64px;
  padding: 42px 46px 80px 57px;
  width: 782px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: @col-yellow;
  .center();
  .clearfix();
}

.content {
  padding: 75px 0 86px+66px 0;
  // padding: 42px 46px 80px 57px;
}

.left-border{
  width: 1px;
  // top: 0;
  left: 0;
  position: absolute;
}

.pull-right{
  float: right;
}

//------------------------------------------------------------------
// css сетка
//------------------------------------------------------------------

.row{
  width: 100%;
  .clearfix();
  position: relative;
}

.span12{
  width: 100%;
  position: relative;
}

.span6{
  width: 380px;
  float: left;
  position: relative;
}

.span4{
  width: 244px;
  float: left;
  position: relative;
}
.span6-f{
  width: 50%;
  float: left;
  position: relative;
}

.span4-f{
  width: 33.3%;
  float: left;
  position: relative;
}

//------------------------------------------------------------------
// стили отступов
//------------------------------------------------------------------

.m-24-l{
  margin-left: 24px;;
}
.m-24-r{
  right: 24px;;
}
.m-14-l{
  margin-left: 14px;;
}
.m-14-r{
  margin-right: 14px;
}
.m-13-l{
  margin-left: 13px;;
}
.m-13-r{
  margin-right: 13px;
}
.m-12-l{
  margin-left: 12px;;
}
.m-12-r{
  margin-right: 12px;
}
.m-11-l{
  margin-left: 11px;;
}
.m-11-r{
  margin-right: 11px;
}

//------------------------------------------------------------------
// много колоночный текст
//------------------------------------------------------------------

article{
  column-count:2;
  column-gap: 30px;
  font-size: 10pt;
  line-height: 15pt;
  margin-top: 50px;
}

//------------------------------------------------------------------
// цитата
//------------------------------------------------------------------

blockquote{
  font-size: 11pt;
  margin-top: 67px;
  line-height: 18pt;
  &:before{
    content: url("../img/bq.png");
    width: 40px;
    height: 37;
    float: left;
    margin-right: 18px;
    margin-bottom: 10px;
  }
}
