.footer {
  // outline: 1px red solid;
  width: 100%;
  margin: -89px auto 0;
  height: 89px;
  position: relative;
  background: @col-base;
}

.footer-content {
  background: @col-gray;
  height: 37px;
  .center();
  .clearfix();
  i {
    float: left;
    margin-top: 12px;
    font-size: 8pt;
    font-style: normal;
    font-family: @bold;
  }
  p {
    float: right;
    margin-top: 7px;
    font-size: 8pt;
  }
}

.footer-second-content {
  background: @col-gray;
  height: 37px;
  .center();
  .clearfix();
  i {
    float: right;
    margin-top: 12px;
    font-size: 8pt;
    font-style: normal;
    font-family: @bold;
  }
  p {
    float: left;
    margin-top: 7px;
    font-size: 8pt;
  }
}
