.header {
  height: 169px;
  // background: #FFE680;
  padding: 52px 0 0 0;
  a {
    color: @col-text;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.head-container{
  padding: 24px 46px 18px 57px;
  background: @col-gray;
  width: 100%;
  display: table;
  .clearfix();
  img{
    float: left;
    display: block;
  }
  p{
    text-align: right;
    font-size: 8pt;
    display: table-cell;
    vertical-align: bottom;
  }
}

.head-second-container{
  padding: 24px 46px 18px 57px;
  background: @col-gray;
  width: 100%;
  display: table;
  .clearfix();
  img{
    float: right;
    display: block;
  }
  p{
    text-align: left;
    font-size: 8pt;
    display: table-cell;
    vertical-align: bottom;
  }
}