//------------------------------------------------------------------
// Центрируем блоки
//------------------------------------------------------------------
.center() {
  margin-right: auto;
  display: block;
  margin-left: auto;
}

//------------------------------------------------------------------
// Clearfix
//------------------------------------------------------------------
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

