//------------------------------------------------------------------
// less переменные
//------------------------------------------------------------------

@col-base: #fff;
@col-text: #231f20;
@col-yellow: #ffdd00;
@col-gray: #F3F3F4;
@col-gray2: #BDBEC1;

//шрифты
@bold: 'OpenSansBold';
@regular: 'OpenSansRegular';
@light: 'OpenSansLightRegular';
@italic: 'OpenSansItalic';

//------------------------------------------------------------------
@import "mixins.less";
//подключаем миксины
@import "base.less";
// подключаем базовый стиль
@import "header.less";
// подключаем стиль хедера
@import "footer.less";
// подключаем стиль футера

//------------------------------------------------------------------
// стиль index.html
//------------------------------------------------------------------

.pages-wrap {
  position: absolute;
  padding: 44px;
  border: 1px @col-text solid;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 180px;
  margin-top: -90px;
  margin-left: -250px;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  ul {
    // list-style: none;
    margin: 0 auto;
    display: table;
  }
  li {
    display: inline-block;
  }
  a {
    color: @col-text;
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    text-align: center;
    // margin: 5px;
    font-size: 11pt;
    border-bottom: 2px transparent solid;
    &:hover {
      border-bottom: 2px @col-yellow solid;
    }
  }
}

//------------------------------------------------------------------
// стиль главной страницы
//------------------------------------------------------------------

.main-top {
  // outline: 1px red solid;
  .clearfix();
  .adress {
    float: left;
    width: 200px;
    position: relative;
    padding-left: 21px;
    font-size: 8pt;
    color: @col-text;
  }
  .left-border {
    top: 0;
    height: 83px;
    background: @col-text;
  }
  img {
    float: right;
    display: block;
  }
  p, b, i, a, em {
    display: block;
    color: inherit;
    // line-height: 12pt;
  }
  p {
    line-height: 12pt;
    margin-bottom: 23px;
  }
  b {
    font-family: @bold;
    margin-bottom: 5px;
  }
  i {
    font-style: normal;
    font-size: 9pt;
  }
  a {
    text-decoration: none;
    margin-bottom: 7px;
  }
  em {
    font-style: normal;
    font-family: @bold;
    margin-bottom: 7px;
    margin-top: 15px;
  }
}

.main-center {
  margin-top: 377px;
  // outline: 1px red solid;
  h1 {
    display: block;
    margin-bottom: 52px;
    font-size: 40pt;
  }
  b {
    display: block;
    margin-bottom: 4px;
    font-size: 16pt;
  }
  p {
    font-size: 16pt;
  }
}

.main-bot {
  .clearfix();
  // outline: 1px red solid;
  margin-top: 104px;
  h3 {
    // display: inline;
    font-size: 12pt;
    margin-bottom: 29px;
  }
  b {
    font-size: 9pt;
  }
}

.left-side {
  width: 347px;
  float: left;
  em {
    font-size: 22pt;
    font-family: @light;
    display: block;
    font-style: normal;
    margin-bottom: 25px;
  }
  a {
    text-decoration: none;
    font-size: 9pt;
    color: inherit;
    b {
      margin-right: 5px;
    }
  }
  i {
    font-size: 9pt;
    font-style: normal;
    b {
      margin-right: 5px;
    }
  }
  p {
    font-size: 9pt;
    margin-top: 9px;
    margin-bottom: 3px;
  }
}

.right-side {
  padding-left: 34px;
  position: relative;
  margin-top: 6px;
  float: left;
  // outline: 1px red solid;
  .left-border {
    height: 100%;
    background: @col-text;
  }
  .date-bot {
    margin-top: 41px;
  }
  p {
    font-size: 9pt;
    margin-bottom: 8px;
  }
  b {
    font-size: 9pt;
  }
}

.main-text {
  padding-top: 54px;
  padding-bottom: 85px;
  b {
    font-size: 10pt;
  }
  p {
    font-size: 8pt;
    margin-top: 21px;
    line-height: 13pt;
  }
}

//------------------------------------------------------------------
// стиль второй страницы
//------------------------------------------------------------------

.content {
  h1 {
    margin-bottom: 35px;
  }
}

.style-block {
  margin-top: 48px;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;
  background-color: @col-gray;
  position: relative;
  padding: 8px 0 0 43px;
  b {
    font-size: 12pt;
  }
}

.yellow-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: @col-yellow;
}

.styled-ul {
  margin-top: 23px;
  font-size: 9pt;
  line-height: 14pt;
  li {
    display: block;
    padding: 7px 0 8px 15px;
    border-bottom: 1px @col-gray solid;
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 11px;
      left: 0;
      border-top: 5px solid transparent;
      border-left: 8px solid @col-yellow;
      border-bottom: 5px solid transparent;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

//------------------------------------------------------------------
// стиль третьей страницы
//------------------------------------------------------------------

.our-team {
  img {
    margin-bottom: 45px;
  }
  h1 {
    margin-bottom: 40px;
  }
  blockquote {
    font-size: 11pt;
    line-height: 15pt;
    font-family: @italic;
    margin-top: 0;
    &:before {
      content: url("../img/bq-small.png");
      width: 24px;
      height: 22px;
      margin-right: 20px;
      margin-bottom: 5px;
    }
  }
  .left-border {
    height: 102px;
    background: @col-gray2;
    top: 0;
    position: static;
    float: left;
  }
}

.image-header {
  padding: 7px 19px;
  background: @col-yellow;
  p {
    font-size: 12pt;
    font-family: @bold;
  }
}

.about-person {
  margin-bottom: 36px;
  b {
    margin-right: 7px;
  }
}

.about-bq {
  margin-top: 67px;
}

//------------------------------------------------------------------
// стиль четвертой страницы
//------------------------------------------------------------------

.case-study {
  h1 {
    margin-bottom: 0;
  }
  img {
    float: right;
    margin-bottom: 20px;
  }
  .image-header {
    margin-bottom: 39px;
  }
  .italic-text-m2 {
    margin-bottom: 34px;
  }
}

.construct {
  .style-block {
    margin-bottom: 18px;
  }
  li {
    border-bottom: 1px @col-gray2 solid;
    display: block;
    padding: 0 0 0 15px;
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 11px;
      left: 0;
      border-top: 5px solid transparent;
      border-left: 8px solid @col-yellow;
      border-bottom: 5px solid transparent;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.left-con {
  float: left;
  width: 587px;
  border-right: 1px @col-gray2 solid;
  p {
    font-size: 8pt;
    padding: 6px 2px 6px 2px;
  }
}

.right-con {
  display: table;
  width: 180px;
  float: right;
  text-align: right;
  b {
    padding: 10px 0 10px 0;
    display: table-cell;
    vertical-align: middle;
    font-size: 10pt;
  }
}

//------------------------------------------------------------------
// стиль шестой страницы
//------------------------------------------------------------------

.description {
  .style-block {
    margin-bottom: 30px !important;
  }
  .italic-text-m2 {
    margin-top: 34px;
    margin-bottom: 44px;
  }
}

.description-block {
  position: absolute;
  top: 0;
  left: 30px;
  p {
    font-size: 20pt;
    text-align: right;
    font-family: @light;
    margin-bottom: 20px;
  }
  ul {
    .clearfix();
  }
  li {
    float: left;
    width: 14px;
    height: 14px;
    background: @col-gray2;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    background: @col-yellow;
  }
}

.description-content {
  margin-left: 135px;
  margin-bottom: 30px;
  b {
    font-size: 10pt;
    display: block;
    margin-bottom: 21px;
  }
  p {
    font-size: 11pt;
    line-height: 15pt;
  }
}

//------------------------------------------------------------------
// стиль восьмой страницы
//------------------------------------------------------------------

.offer {
  .text-block {
    b {
      font-size: 10pt;
      line-height: 14pt;
      margin-bottom: 26px;
      display: block;
    }
    p {
      font-size: 10pt;
      line-height: 14pt;
    }
  }
}

.prise-block {
  background: @col-yellow;
  height: 270px;
  position: relative;
  margin-bottom: 45px;
  b {
    position: absolute;
    top: 20px;
    left: 21px;
    font-size: 13pt;
  }
  p {
    text-align: center;
    line-height: 260px;
    font-size: 46pt;
  }
  i {
    position: absolute;
    bottom: 20px;
    left: 21px;
    font-style: normal;
    font-family: @light;
    font-size: 20pt;
    &:before {
      content: url("../img/clock.png");
      width: 28px;
      height: 27px;
      margin-right: 20px;
    }
  }
}

.quoted {
  margin-top: 56px;
  padding-top: 22px;
  border-top: 1px @col-gray solid;
  p {
    display: block;
    font-size: 8pt;
    line-height: 14pt;
    &:before {
      content: url("../img/star.png");
      float: left;
      margin-right: 24px;
      margin-top: -2px;
    }
  }
}

//------------------------------------------------------------------
// стиль десятой страницы
//------------------------------------------------------------------

.timeline {
  .style-block {
    margin-bottom: 51px !important;
  }
}

.main-table {
  width: 100%;
  background: @col-gray;
  tr, td {
    border: 1px @col-base solid;
  }
}

.title {
  font-size: 9pt;
  font-family: @bold;
}

.normal-tr {
  font-size: 12pt;
}

.color-td {
  background: @col-yellow;
}

.title-td {
  width: 136px;
  padding: 9px 0 7px 11px;
}

.title-td-second {
  padding: 9px 0 12px 11px;
}

.centered-text {
  text-align: center;
  width: 108px;
}

.timeline-block {
  margin-top: 28px;
  p {
    font-size: 11pt;
    line-height: 16pt;
  }
  b {
    font-size: 10pt;
    line-height: 14pt;
    display: block;
    margin-bottom: 22px;
  }
}

//------------------------------------------------------------------
// стиль одиннадцатой страницы
//------------------------------------------------------------------

.acceptance {
  h1 {
    margin-bottom: 40px;
  }
  .image-header {
    p {
      font-size: 14pt;
      margin-top: 5px;
    }
    .normal-text {
      font-size: 14pt;
    }
  }
}

.contact-block {
  background: @col-gray;
  .left-border {
    background: @col-gray2;
    height: 60px;
    float: right;
    position: static;
  }
  .main-contact {
    padding-left: 45px;
    padding-top: 40px;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  i {
    font-style: normal;
  }
  .construct {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 53px;
    .left-con {
      width: 532px;
      p {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
    .right-con {
      width: 145px;
      b {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
    li:last-child {
      padding-left: 0;
      .left-con {
        width: 547px;
      }
      p {
        font-size: 11pt;
        padding-top: 5px;
      }
    }
    li:last-child:before {
      display: none;
    }
  }
}

.details-left,
.details-center,
.details-right {
  b {
    font-size: 11pt;
    line-height: 14pt;;
  }
  p {
    font-size: 11pt;
    margin-top: 4px;
    line-height: 14pt;
  }
  i {
    display: block;
    margin-top: 2px;
    font-size: 11pt;
  }
}

.details-left {
  float: left;
  width: 332px;
  margin-bottom: 47px;

}

.details-center {
  float: left;
  width: 215px;
  margin-bottom: 47px;
  padding-left: 25px;
}

.details-right {
  float: left;
  margin-bottom: 47px;
  padding-left: 20px;
  padding-right: 40px;
}

.sight-here {
  margin-top: 63px;
  margin-bottom: 18px;
  li {
    border-top: 1px @col-gray2 solid;
    padding-top: 9px;
    padding-bottom: 39px;
    .clearfix();
  }
  li:last-child {
    padding-bottom: 0;
  }
  b {
    font-size: 11pt;
  }
}

.tick {
  border-top: 1px @col-gray2 solid;
  margin-top: 20px;
  &:before {
    content: "○";
    float: left;
    font-size: 19pt;
    display: inline-block;
    margin-top: 4px;
    margin-right: 10px;
  }
  p {
    display: inline-block;
  }
}

.contact-bottom-left {
  b {
    display: block;
    margin-top: -8px;
    font-size: 9pt;
  }
  p {
    margin-top: 9px;
    font-size: 9pt;
  }
}

.contact-bottom-right {
  p {
    font-size: 9pt;
    line-height: 14pt;
  }
}

//------------------------------------------------------------------
// стиль двенадцатой страницы
//------------------------------------------------------------------

.last-page {
  width: 157px;
  height: 194px;
  margin: 483px auto 404px;
}

.last-page-footer {
  a {
    color: @col-text;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

